<div critique class="critique">

  <div ng-if="!deletingCritique" class="critique-inner-container">

    <!-- Voting -->
    <div class="vote-container" ng-controller="VoteController">
      <div  class="up-vote" ng-click="submitVote( 1 )">

        <div ng-if="currentUser.id !== critique.user_id">
          <i data-rating="1"
              class="fa fa-caret-up fa-2x vote"
              ng-class="{'current-vote' : critique.user_voted && critique.user_vote === 1}">
          </i>
        </div>


      </div>
      <div class="total-votes-container">
        {{ critique.total_votes }}

      </div>
      <div class="down-vote" ng-click="submitVote( -1 )">
        <div ng-if="currentUser.id !== critique.user_id">
          <i data-rating="-1"
              class="fa fa-caret-down fa-2x vote"
              ng-class="{'current-vote' : critique.user_voted && critique.user_vote === -1}">
          </i>
        </div>
      </div>
    </div>

    <div class="content-container">

      <!-- Message -->
      <div class="message-container" ng-if="!editingCritique && !cancelingCritiqueEdit">
        {{ critique.message }}
      </div>

      <textarea class="editing-critique-container"
                name="critique[message]"
                ng-model="critique.message"
                ng-if="editingCritique && !cancelingCritiqueEdit">
      </textarea>

      <div class="message-container" ng-if="editingCritique && cancelingCritiqueEdit">
        Are You Sure you want to cancel editing this critique? <br>
        Your changes will not be saved.

        <a ng-click="cancelCritiqueEdit();">
          Cancel Editing
        </a>
        <a ng-click="confirmCritiqueEditCancel()">
          Continue Editing
        </a>
      </div>

      <!-- User Controls -->
      <div class="author-info">
        <div ng-if="currentUser.id === critique.user_id">
          <div class="current-user-controls">
            <div class="edit-critique">
              <span ng-if="editingCritique && !cancelingCritiqueEdit"
                    ng-click="confirmCritiqueEditCancel()">
                Cancel Editing
              </span>
              <span ng-if="editingCritique && !cancelingCritiqueEdit"
                    ng-click="submitEditedCritique()">
                Submit
              </span>

              <span ng-if="!editingCritique" ng-click="toggleCritiqueEdit()">
                Edit
              </span>
            </div>
            <div ng-if="!editingCritique" class="remove-critique"ng-click="toggleCritiqueDelete()">
              Delete
            </div>
          </div>
        </div>


        <div class="author-image">
          <img src="{{ critique.image_url }}" class="critique-profile-picture img-circle"></img>
        </div>

        <div class="author-name">
          {{ critique.username }}
        </div>
      </div>
    </div>
  </div>




  <div class="alert-container" ng-if="deletingCritique || editingCritique">
    <!-- deleting -->
    <div ng-if="deletingCritique" class="critique-inner-container">
      Are You Sure you want to Delete this feedback? <br>
      This cannot be undone.

      <a ng-click="deleteFeedback( $index )">
        Delete Feedback
      </a>
      <a ng-click="toggleCritiqueDelete()">
        Cancel
      </a>
    </div>


  </div>
</div>
