<input type="hidden" id="api-token" value="<%= @user.token %>" name="token">

<h3>Hey</h3>

<br><br>


<div class="row">
  <div class="col-xs-6">
    <div class="new-post-box">
      <h3>New Post</h3>
        <form id="create-post" action="/api/posts" method="post">
          <!-- <div class="form-group">
            <label>Title</label>
            <br>
            <input type="text" id="post-title" name="post[title]" placeholder="...title">
          </div> -->
          <div class="form-group">
            <label>Post</label>
            <br>
            <textarea class="form-control" id="post-body" rows="10" name="post[message]" placeholder="...post"></textarea>
          </div>

            <input type="submit" value="Post" class="btn btn-danger submit-new-post">

        </form>
    </div>

  </div>
  <h3>Posts</h3>
  <div class="col-xs-6" id="all-post-list">

  </div>
  </div>
