/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

body {
  background-color: blue;
}

.post-title {
  color: red;
  display: block;
  width: 50%;
}


.new-post {
  height: 10em;
  width: 50%;
  padding: 4em;
}

.input-lg{
  height: 25em;
}

form#create-post {
  background-color: floralwhite;
  padding: 3em;
  border-radius: 5px;
  border: grey 1px solid;
  height: 30em;
  z-index: 1;
  }

.submit-new-post {
  float: right;
}

#post-list {
  overflow: auto;
}

.post {
  background-color: floralwhite;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 1em;
  height: 30em;
}

.post-box {
  padding: 1em;
  margin-bottom: 1em;
  height: 20em;
  overflow: auto;
}

.post-header {
  margin-top: -0.1em;
}

.remove {
  margin-left: 75%;
}

.new-post-box {
  position: fixed;
  left: 10%;
  width: 37%;
}

#header {
  background-color: black;
  padding: 2% 0 2% 2%;
  vertical-align: bottom;
  color: white;
}

.critique{
  background: floralwhite;
  height: 15em;
  border: solid black 1px;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 2em;
}

.individual-post{
  height: 20em;
  background-color: floralwhite;
  border: solid black 1px;
  padding: 1%;
  border-radius: 5px;
}

.post-message{
  background-color: white;
  height: 10em;
  overflow: auto;
}

.post-author{
  float: right;
  bottom: 0;
}
.navbar-brand{
  font-family: 'Permanent Marker', cursive;
  color: white;
}
