/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-slider
 *= require jquery-ui.min

 */
 body {
    padding-top: 7em;
  }

.post-title {
  color: red;
  display: block;
  width: 50%;
}

#prompt-container{
  height: 6em;
}

.new-post {
  height: 10em;
  width: 50%;
  padding: 4em;
}

.input-lg{
  height: 25em;
}

.prompt-text{
  color: red;
}

form#create-post {
  }

.submit-new-post {
  float: right;
}

.new-post-box {
  background-color: floralwhite;
  padding: 3em;
  position: fixed;
  left: 10%;
  width: 37%;
  /*height: 35em;*/
  height: 65%;
  border: grey 1px solid;
  z-index: 1;
  border-radius: 5px;
  margin-top: 5em;
}

#post-list{
  margin-top: 5em;
}

/*.critique{
  background: floralwhite;
  height: 15em;
  border: solid black 1px;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 2em;
}*/

.individual-post{
  height: 20em;
  background-color: floralwhite;
  border: solid black 1px;
  padding: 1%;
  border-radius: 5px;
}

.post-message{
  background-color: white;
  height: 10em;
  overflow: auto;
}

.post-author{
  float: right;
  bottom: 0;
}

.post-id-holder{
  display: none;
}

/* Navbar */
#header {
  background-color: black;
  padding: 2% 0 2% 2%;
  vertical-align: bottom;
  color: white;
}

.navbar-brand{
  font-family: 'Permanent Marker', cursive;
  color: white;
}


/* Post */
.post {
  background-color: floralwhite;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
  border: 1px solid grey;
  margin-top: 1em;
  margin-right: 5%;
  height: 25em;
  overflow: auto;
}

  /* Post Components */
  .post-header {
    height: 1em;
    margin-top: -0.1em;
  }

  .post-box {
    padding: 1em;
    margin-bottom: 1em;
    height: 10em;
    overflow: auto;
  }

  .remove-post {
    margin-left: 75%;
  }


  /* Critiques */
  .new-critique-form{
    height:7em;
  }

  #critique-list-view{
    height: 10em;
  }

  .critique-view{
    height: 3em;
    background: ghostwhite;
    margin-top: 0.3em;
  }

  .critique-form-container{
    height: 10em;
  }

  .remove-critique{
    margin-left: 75%;
  }

/* Post List View */
#post-list {
  overflow: auto;
}

#left-pane{
  height: 100%;
  background-color: cornflowerblue;
}

#right-pane{
  height:100%;
  background-color: rebeccapurple;
  padding-top: 4em;
  /*position: fixed;*/
}


#stopwatch {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 12px;
  letter-spacing: 10px;
  line-height: 100px;
  font-size: 75px;
  text-align: right;
  margin-bottom: 20px;
}

#controls {
  text-align: center;
}

button {
  padding: 24px 24px 16px 24px;
  background: mediumaquamarine;
  border:none;
  border-bottom: 2px solid forestgreen;
  border-radius: 5px;
  color: white;
  font-size: 24px;
  font-family: 'Orbitron', 'Courier New', monospace;
  font-weight: 700;
}

#stop {
  background-color: crimson;
  border-bottom: 2px solid darkred;
}

#reset {
  background-color: moccasin;
  border-bottom: 2px solid goldenrod;
}

button:hover, #stop:hover, #reset:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
