
<div class="welcome-container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-right">
        Already have an account? &nbsp; <%= link_to "Log in.", log_in_path %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <h1 class="welcome-header">writeaway.</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="welcome-sub-header text-center">
          a social network for aspiring writers.
        </div>
      </div>
    </div>
    <div class="writing-example">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="writeaway-marketing">
          Learn to write<br>
          Learning any skill takes repetition.<br>
          Learning to write is hard because new authors are often
          bogged down by story ideas they have held for so long.<br>
          At Write Away you can speed write flash fiction and get feedback from fellow authors.

        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-offset-2">
          <div class="writing-container">
            <div id="writing-prompt">
              <div id="welcome-prompt"></div>
              <div class="get-new-prompt"><i class="fa fa-refresh fa-2x"></i></div>
            </div>
            <div id="welcome-post-editor" class="post-body">
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-info"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-12">

    </div>
  </div>

    <div class="main-frame">
      <div class="row">
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="welcome-icon"><img src="http://i.imgur.com/yXJDIRB.png"/></div>
          <h4>Write</h4>
          <p class="welcome-text">
            Write from a prompt and share with other authors
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="welcome-icon"><img src="http://i.imgur.com/hR2f8aM.png"/></div>
          <h4>Read</h4>
          <p class="welcome-text">
            Read posts from other users and find your new favorite flash fiction author
          </p>
        </div>
        <div class="col-xs-12 col-sm-4 text-center">
          <div class="welcome-icon"><i class="fa fa-comments fa-4x"></i></div>
          <h4>Get Feedback</h4>
          <p class="welcome-text">
            Find and share your top writing resources for new ideas and techniques.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="register-container">
        <div class="col-xs-12 text-center">
          <%= link_to "Register", register_path, :class => "btn btn-danger btn-raised register" %>
        </div>
        <div class="col-xs-12 text-center">
          <%= link_to "Login", log_in_path, :class => "btn btn-info btn-raised login" %>
        </div>
      </div>

    </div>
  </div>
</div>
