  <div class="post-container post-open" id="{{ 'post-' + ( post.data.id || "" ) }}">
    <div id="full-post">
      <!-- Renamed from review-post -->
      <div class="post-header">
        <h2 class="brand">
          writeaway.
        </h2>
        <div class="close-full-post" ng-click="togglePostOpen()">
          X
        </div>
      </div>

      <div class="post-info-bar">
        <div class="genre">
          {{ post.data.genre || "" }}
        </div>
        <div class="prompt">
          {{ post.data.prompt || "undefined" }}
        </div>
        <div class="average-rating">
          {{ post.feedback.avg_rating || "0" }}
        </div>
      </div>

      <div class="post-review">

        <article id="post-display" class="post-display">
          <h3 class="post-title">
          {{ post.data.title || "" }}
            <span class="post-read-time">
            {{ post.data.time_completed + " seconds" }}
            </span>
          </h3>
          <div class="author">
            <div class="author-image">
              <img src="{{ post.author.image_url }}" alt="" />
            </div>
            <div class="author-name">
              {{ post.author.username }}
            </div>
          </div>
            <div ng-if="!editing" class="post-message" ng-bind-html="convertMessage()"></div>
            <div ng-if="editing">
              <textarea class="editing-post-container" name="post[message]" ng-model="post.data.message"></textarea>
              <a class="submit-post" ng-click="submitEditedPost()">Submit</a>
            </div>
          <div id="post-ratings">
            <!-- Controlled by Ratings.js -->
          </div>

          <div class="user-controls" ng-if="currentUser.id == post.author.user_id">
            <a class="delete-post" ng-if="!editing" ng-click="toggleDelete()">
              <span ng-if="!deleting">
                Delete Post
              </span>
              <span ng-if="deleting">
                Cancel Delete
              </span>
            </a>
            <a class="edit-post" ng-if="!deleting" ng-click="toggleEdit()">
              <span ng-if="editing">
                Cancel Editing
              </span>
              <span ng-if="!editing">
                Edit
              </span>
            </a>
          </div>

          <div class="alert-container">
            <div ng-if="deleting" class="confirm-delete-post">
              Are You Sure you want to Delete this post? <br>
              This cannot be undone.

              <a class="delete-post">
                Delete Post
              </a>
            </div>
            <div ng-if="cancelingEdit">
              Are You Sure you want to cancel editing this post? <br>
              Your changes will not be saved.

              <a ng-click="cancelEdit()">
                Cancel Editing
              </a>
              <a ng-click="confirmCancel()">
                Continue Editing
              </a>
            </div>
          </div>
        </article>

        <article id="review-display" class="review-display">
          <ul class="review-navigation">
            <li class="review-link rate-post">Rate</li>
            <li class="review-link give-feedback">Feedback</li>
          </ul>
          <div id="feedback-feed" class="feedback-feed" ng-controller="CritiqueFeedController">
            <div ng-repeat="critique in critiques">
              <div ng-include src="'assets/templates/critiques/critique.html'"
                   ng-controller="CritiqueController"></div>
            </div>

          </div>
          <div class="comment-editor">
            <div class="comment-header">
              Give Feedback
            </div>
            <textarea id="critique-text"></textarea>
            <div class="comment-footer">
              <button type="submit" id="create-critique">Submit</button>
            </div>
          </div>
          <div class="ratings-view hidden">

          </div>

        </article>
      </div>
    </div>
  </div>
