@font-face {
  font-family: 'Brand';
  src: font-url( asset-path('gabriele-br.TTF') );
  font-weight: normal;
  font-style: normal;
}

$font-main:    'Open Sans Condensed', sans-serif;
$font-brand:    Brand, sans-serif;


.register-header {
  margin-bottom: 2em;
  font-family: $font-main;
}

.register-container {
  padding-top: 3em;
}

.user-info-container {
  background-color: white;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 1em;
  max-width: 600px;

  .input-container {
    width: 300px;
    margin: 0 auto;
  }

  .wa-register {
    font-family: $font-brand;
    margin-bottom: 1em;
    margin-top: 0;
    text-align: left;
    top: 0;

    a {
      color:black;
    }

    .wa-sub-header {
      font-size: 12px;
      font-family: $font-main;
      display: block;
      padding-left: 3%;
    }
  }

  #join {
    max-width: 140px;
    margin: 0 auto;
    margin-top: 5em;
    text-align: center;
  }

  .welcome-sub-header{
    font-family: $font-brand, sans-serif;
    font-size: 1em;
    text-align: left;
  }
}
