@font-face {
  font-family: 'Brand';
  src: font-url( asset-path('gabriele-br.TTF') );
  font-weight: normal;
  font-style: normal;
}

$font-main:    'Open Sans Condensed', sans-serif;
$font-brand:    Brand, sans-serif;

#writing-page {

  #writing-navbar {

    .home-page{
      color: black;
      list-style: none;
      text-decoration: none;
      text-decoration: bold;
      display: inline-block;
      font-family: $font-brand;
    }

    .post-error {
      color: red;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 15px;
      background-color: lightblue;
    }

    #prompt-instruction{
      margin-top: 1em;
      font-family: 'Open Sans Condensed', sans-serif;
      display: inline-block;
    }
  }

  #writing-page-main {

    #prompt-form {

      .prompt-description{
        margin: 0.5em 0 0 0.5em;
        font-size: 20px;
      }

      .prompt-container {
        padding-left: 3%;
      }

      .start-writing {
        font: $font-brand;
      }

      a.start{
        display: none;
        width: 100%;
      }
    }

    #post-editor{
      height: 350px;
      -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      
    }
  }
}
