@font-face {
  font-family: 'Brand';
  src: font-url( asset-path('gabriele-br.TTF') );
  font-weight: normal;
  font-style: normal;
}

$font-main:    'Open Sans Condensed', sans-serif;
$font-brand:    Brand, sans-serif;

#writing-page {

  #writing-navbar {

    .home-page{
      color: black;
      list-style: none;
      text-decoration: none;
      text-decoration: bold;
      display: inline-block;
      font-family: $font-brand;
    }

    .cancel-post {
      font-family: $font-main;
      font-size: 2em;
      color: black;
      margin: 0.3em 1em 0 0;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      vertical-align: middle;
      text-align: center;
      float: right;
      right: 0;
      top: 0;
      position: fixed;
      text-decoration: none;

      &:hover {
        background-color: #dcdcdc;
      }

      a {
        float: right;
        right: 0;
        position: fixed;

      }
    }

    #prompt-instruction{
      margin-top: 1em;
      font-family: 'Open Sans Condensed', sans-serif;
      display: inline-block;
    }

    #prompt {
      font-size: 1.5em;
      color: black;
      font-family: $font-brand;

    }

    .render-main-page {
      color: black;
      font-family: $font-brand;
      text-decoration: none;
    }
  }

  #writing-page-main {
    #prompt-form {

      .prompt-description{
        margin: 0.5em 0 1em 0.5em;
        font-size: 20px;
        width: 100%;
        height: 50px;
      }

      .prompt-container {
        padding-left: 3%;
        height: 120px;
      }

      .start-writing {
        font: $font-brand;
      }

      .render-prompt {
        width: 100%;
        padding: 1em 0 1em 0;
        text-align: center;
      }

      .start{
        display: none;
        width: 100%;
        padding: 1em 0 1em 0;
      }
    }


    #new-post-container {

        #post-toolbar {
          background-color: white;
          margin-bottom: -1em;

          #post-error-container {

            .post-error {
              display: none;
              color: #f68657;
              border: solid 1px #f68657;
              background-color: #ffeee4;
              padding: 0.5em;
              text-align: left;
              vertical-align: middle;
              font-family: 'Open Sans Condensed', sans-serif;
              font-size: 18px;
              text-decoration: bold;

            }
          }

          .toolbar-inner-container {
            padding-left: 3%;
            width: 30%;
            display: inline-block;
          }

        }

        #post-editor{
          height: 60%;
          background-color: white;
          padding: 2em 4em 1em 4em;

        }

        #post-info {
          font-size: 16px;

          .writing-page-text {
            color: #0fb2fc;
          }

          .new-post-label {
            display: block;
            font-size: 12px;
          }

          .publish {
            margin-top: 2em;
            background-color: #999999;
            width: 100%;
          }

          .publish-enabled {
            background-color: #03a9f4;
          }
        }
    }
  }
}
