@font-face {
  font-family: 'Brand';
  src: font-url( asset-path('gabriele-br.TTF') );
  font-weight: normal;
  font-style: normal;
}

$font-main:    'Open Sans Condensed', sans-serif;
$font-brand:    Brand, sans-serif;

#writing-page {

  #writing-navbar {

    .home-page{
      color: black;
      list-style: none;
      text-decoration: none;
      text-decoration: bold;
      display: inline-block;
      font-family: $font-brand;
    }

    .cancel-post {
      font-family: $font-main;
      font-size: 2em;
      color: black;
      margin: 0.3em 1em 0 0;
      width: 50px;
      height: 50px;
      border-radius: 100px;
      vertical-align: middle;
      text-align: center;
      float: right;
      right: 0;
      top: 0;
      position: fixed;
      text-decoration: none;

      &:hover {
        background-color: #dcdcdc;
      }

      a {
        float: right;
        right: 0;
        position: fixed;

      }
    }

    .post-error {
      display: none;
      color: #f68657;
      border: solid 1px #f68657;
      background-color: #ffeee4;
      margin-top: 2em;
      padding: 0.5em;
      text-align: left;
      vertical-align: middle;
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 18px;
      text-decoration: bold;

      -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    #prompt-instruction{
      margin-top: 1em;
      font-family: 'Open Sans Condensed', sans-serif;
      display: inline-block;
    }

    #prompt {
      font-size: 1.5em;
      color: black;
      font-family: $font-brand;

    }
  }

  #writing-page-main {

    #prompt-form {

      .prompt-description{
        margin: 0.5em 0 0 0.5em;
        font-size: 20px;
      }

      .prompt-container {
        padding-left: 3%;
      }

      .start-writing {
        font: $font-brand;
      }

      a.start{
        display: none;
        width: 100%;
      }
    }



    #post-toolbar {
      background-color: white;

      .title-container {
        width:33%;
        display: inline-block;
      }

      .genre-container {
        padding-left: 3%;
        width: 33%;
        display: inline-block;
      }
    }

    #post-editor{
      height: 350px;
      -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
  }
}
