

<form class="" action="/sessions" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="username" placeholder="...enter username">
  <input type="text" name="password" placeholder="...enter password">
  <input type="submit">
</form>
