<input type="hidden" id="api-token" value="<%= @user.token %>" name="token">

  <div class="row">
    <div class="col-xs-6">
      <div id="left-pane">
        <div class="new-post-box">

        </div>
      </div>

      <div id="critique-list-view">

      </div>
      <div id="prompts-list">

      </div>

    </div>
      <div class="col-xs-6 ">
        <div id="post-list">

        </div>
      </div>
  </div>
