<form class="" action="/users" method="post">
  <input type="text" name="user[username]" placeholder="...enter username">
  <input type="text" name="user[password]" placeholder="...enter password">
  <input type="submit">
</form>
