<div class="new-post-box">

  <div id="challenge-type"></div>
  <div id="challenge-container"></div>
  <div id="challenge-word-count"></div>
  <div id="current-challenge-word-count">        </div>

  <p id="challenge-error"></p>


      <form id="challenge-accept-form">

        <div class="form-group">
          <div id="full-toolbar">
            <!-- Add a bold button -->
            <span class="ql-format-group">
              <span title="Bold" class="ql-format-button ql-bold"></span>
              <span class="ql-format-separator"></span>
              <span title="Italic" class="ql-format-button ql-italic"></span>
              <span class="ql-format-separator"></span>
              <span title="Underline" class="ql-format-button ql-underline"></span>
            <select title="Text Color" class="ql-color">
              <option value="rgb(0, 0, 0)" selected></option>
              <option value="rgb(230, 0, 0)"></option>
              <option value="rgb(255, 153, 0)"></option>
              <option value="rgb(255, 255, 0)"></option>
              <option value="rgb(0, 138, 0)"></option>
              <option value="rgb(0, 102, 204)"></option>
              <option value="rgb(153, 51, 255)"></option>
              <option value="rgb(255, 255, 255)"></option>
              <option value="rgb(250, 204, 204)"></option>
              <option value="rgb(255, 235, 204)"></option>
              <option value="rgb(255, 255, 204)"></option>
              <option value="rgb(204, 232, 204)"></option>
              <option value="rgb(204, 224, 245)"></option>
              <option value="rgb(235, 214, 255)"></option>
              <option value="rgb(187, 187, 187)"></option>
              <option value="rgb(240, 102, 102)"></option>
              <option value="rgb(255, 194, 102)"></option>
              <option value="rgb(255, 255, 102)"></option>
              <option value="rgb(102, 185, 102)"></option>
              <option value="rgb(102, 163, 224)"></option>
              <option value="rgb(194, 133, 255)"></option>
              <option value="rgb(136, 136, 136)"></option>
              <option value="rgb(161, 0, 0)"></option>
              <option value="rgb(178, 107, 0)"></option>
              <option value="rgb(178, 178, 0)"></option>
              <option value="rgb(0, 97, 0)"></option>
              <option value="rgb(0, 71, 178)"></option>
              <option value="rgb(107, 36, 178)"></option>
              <option value="rgb(68, 68, 68)"></option>
              <option value="rgb(92, 0, 0)"></option>
              <option value="rgb(102, 61, 0)"></option>
              <option value="rgb(102, 102, 0)"></option>
              <option value="rgb(0, 55, 0)"></option>
              <option value="rgb(0, 41, 102)"></option>
              <option value="rgb(61, 20, 102)"></option>
            </select><span class="ql-format-separator"></span>
            <select title="Background Color" class="ql-background">
              <option value="rgb(0, 0, 0)"></option>
              <option value="rgb(230, 0, 0)"></option>
              <option value="rgb(255, 153, 0)"></option>
              <option value="rgb(255, 255, 0)"></option>
              <option value="rgb(0, 138, 0)"></option>
              <option value="rgb(0, 102, 204)"></option>
              <option value="rgb(153, 51, 255)"></option>
              <option value="rgb(255, 255, 255)" selected></option>
              <option value="rgb(250, 204, 204)"></option>
              <option value="rgb(255, 235, 204)"></option>
              <option value="rgb(255, 255, 204)"></option>
              <option value="rgb(204, 232, 204)"></option>
              <option value="rgb(204, 224, 245)"></option>
              <option value="rgb(235, 214, 255)"></option>
              <option value="rgb(187, 187, 187)"></option>
              <option value="rgb(240, 102, 102)"></option>
              <option value="rgb(255, 194, 102)"></option>
              <option value="rgb(255, 255, 102)"></option>
              <option value="rgb(102, 185, 102)"></option>
              <option value="rgb(102, 163, 224)"></option>
              <option value="rgb(194, 133, 255)"></option>
              <option value="rgb(136, 136, 136)"></option>
              <option value="rgb(161, 0, 0)"></option>
              <option value="rgb(178, 107, 0)"></option>
              <option value="rgb(178, 178, 0)"></option>
              <option value="rgb(0, 97, 0)"></option>
              <option value="rgb(0, 71, 178)"></option>
              <option value="rgb(107, 36, 178)"></option>
              <option value="rgb(68, 68, 68)"></option>
              <option value="rgb(92, 0, 0)"></option>
              <option value="rgb(102, 61, 0)"></option>
              <option value="rgb(102, 102, 0)"></option>
              <option value="rgb(0, 55, 0)"></option>
              <option value="rgb(0, 41, 102)"></option>
              <option value="rgb(61, 20, 102)"></option>
            </select><span class="ql-format-separator"></span>
          </div>
          <!-- Create the editor container -->
          <div id="challenge-editor" class="challenge-body">
          </div>
          <br>
          <!-- <textarea class="form-control" id="challenge-body" rows="10" name="post[message]" placeholder="...post"></textarea> -->
        </div>
  <!-- <button class="btn btn-danger send-challenge">Send Challenge</button> -->
  <!-- <input type="submit" value="Submit" class="btn btn-danger submit-challenge"> -->
      <input type="submit" class='submit-challenge btn btn-danger' value="Submit"></button>

      </form>


</div>
