  <td> add rank </td>
  <td> <%%= username || "loading..."%> </td>
  <td> <%%= writer_score || 0 %> </td>
  <td> <%%= posts || 0 %> </td>
  <td> <%%= reviewer_score || 0%> </td>
  <td> <%%= reviews || 0 %> </td>
