<div class="modal" id="cancel-this-post" tabindex="-1" role="dialog" aria-labelledby="cancel-post-header">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="cancel-post-header">Are you sure you want to go back?</h4>
      </div>
      <div class="modal-body">
        You will lose all of your progress.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary home-page">Yes</button>
      </div>
    </div>
  </div>
</div>
