<div class="row">
  <div class="col-xs-8 col-xs-offset-2 text-center friend-nav">
    <div class="btn-group btn-group-justified btn-group-raised">
      <a href="javascript:void(0)" class="btn btn-danger send-challenge">Send Challenge</a>
      <a href="javascript:void(0)" class="btn btn-danger received-challenges">Received Challenges</a>
      <a href="javascript:void(0)" class="btn btn-danger awaiting-challenges">Awaiting Response</a>
      <a href="javascript:void(0)" class="btn btn-danger completed-challenges">Completed Challenges</a>
    </div>
  </div>
</div>

<div id="challenge-page">


</div>
