<div class="row">
  <div class="col-xs-12">
    <h4 class="text-center">RESPONSE</h4>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-1">
    <div id="response">
      <!-- Response to a Challenge Rendered Here -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-3">
    <div id="response-user-holder">
      <!-- Place Responses User in HERE -->
    </div>
  </div>
  <div class="col-sm-1">
  </div>
</div>
