<div class="row">
  <div class="col-xs-12 col-sm-2 text-center">
    <div class="challenged-user">
      <!-- Username rendered -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-8 text-left">
    <div class="challenge-message">Write <%%= word_count %> using the prompt: <%%= prompt %>.</div>
    <div class="tiny-text">sent <%%= created_at %> ago</div>
  </div>
  <div class="col-xs-12 col-sm-2 text-left">
    <a class='remove-challenge btn btn-raised btn-fab btn-danger'><i class="fa fa-times"></i></button>
  </div>
</div>
