<div class="row">
  <div class="col-xs-12">
    Edit Resource
    </div>
  </div>
<div class="row">
  <div class="col-xs-12">
    <label for="resource-name">Title</label>
    <input type="text" id="edit-resource-title" class="form-control"></input>
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <label for="resource-description">Description</label>
    <input type="text" id="edit-resource-description" class="form-control"></input>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <label for="resource-link">URL</label>
    <input type="text" id="edit-resource-link" class="form-control"></input>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <label for="resource-tags">Tags (seperate with comma)</label>
    <input type="text" id="edit-resource-tags" class="form-control"></input>
  </div>
</div>

  <div class="row">
    <div class="col-xs-6 text-left">
      <span class="submit-edited-resource">Cancel</span>
      </div>
      <div class="col-xs-6 text-right">
        <span class="submit-edited-resource">Submit</span>
        </div>
    </div>
