<div class="edit-critique-container">
  <textarea name="critique[message]"
  class="editing-critique"
  id="edited-message">
    <%%= critique.message ? critique.message : "" %>
  </textarea>
  <div class="edit-controls">
    <div class="cancel-editing">
      Cancel
    </div>
    <div id="save-edited-critique" class="save-edit">
      Save
    </div>
  </div>
</div>
