<section id="footer">
    <div class="container">
      <div class="row text-center">
        <div class="cols-xs-12">
          <h2 class="brand-font">writeaway.</h2>
          <br>
        </div>
      </div>
      <div class="row text-right">
        <div class="cols-xs-12">
          <strong>
            Designed and developed by <a href="http://www.stevecreswick.com">Steve Creswick</a>
          </strong>
        </div>
      </div>
      <div class="row text-right">
        <div class="cols-xs-12">
        </div>
      </div>
    </div>
  </section>
