<div class="friend-nav">

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
        <div class="btn-group btn-group-justified btn-group-raised">
          <a class="btn btn-info show-users" href="javascript:void(0)">Top Authors</a>
          <a class="btn btn-info show-top-reviewers" href="javascript:void(0)">Top Reviewers</a>
          <a class="btn btn-info show-following" href="javascript:void(0)">Following</a>
          <a class="btn btn-info show-followers" href="javascript:void(0)">Followers</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="user-search-container">

            <!-- <div class="row">
              <div class="col-xs-12 text-center">
                <h3>Find other authors.</h3>
              </div>
            </div> -->

            <div class="row">
              <div class="author-search-box">
              <div class="col-xs-6 col-xs-offset-3">
                <div class="form-group label-floating">
                  <label class="control-label" for="user-search-form">Search for a user...</label>
                  <input type="text" id="user-search-form" class="form-control" placeholder=""></input>
                </div>
              </div>
              <div class="col-xs-3 text-left">
                <a class="btn btn-default btn-raised text-left" id="search-users"><i class="fa fa-search fa-fw"></i>Search</a>
              </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-6 text-right">
                <div id="search-terms"></div>
              </div>
              <div class="col-xs-4 text-right">
              </div>
            </div>



            </div>

        </div>
      </div>
    </div>
