<div id="current-view" >

<input type="hidden" id="current_user" value="<%= @user.username %>">
<input type="hidden" id="current_id" value="<%= @user.id %>">

<div id="header">
  <%= render 'navbar' %>
</div>

<div class="container-fluid" id="main-display">
  <div class="row">
    <div class="col-xs-12" id="center-pane">
      <%= render 'post_page' %>
    </div>
  </div>

<!-- Footer -->
<section id="footer">
    <div class="container">
      <div class="row text-center">
        <div class="cols-xs-12">
          <h2 class="brand-font">writeaway.</h2>
          <br>
        </div>
      </div>
      <div class="row text-right">
        <div class="cols-xs-12">
          <strong>
            Designed and developed by <a href="http://www.stevecreswick.com">Steve Creswick</a>
          </strong>
        </div>
      </div>
      <div class="row text-right">
        <div class="cols-xs-12">
          <!-- <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/designmodo" title="Designmodo">Designmodo</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div> -->
        </div>
      </div>
    </div>
  </section>

</div>


<!-- Close Container -->
</div>
