<div class="no-page">

<div class="row">
  <div class="col-xs-12">
    You do not have any challenges.  Challenge your friends
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Find other authors.
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    Challenge your friends!
  </div>
</div>
