<div class="post-menu">
  <ul class="genre-links">
    <li class="post-sort" data-endpoint="main">
      <a href="#">
        Main Feed
      </a>
    </li>
    <li class="post-sort" data-endpoint="users">
      <a href="#">
        Your Posts
      </a>
    </li>
    <li class="post-sort" data-endpoint="newest">
      <a href="#">
        Newest
      </a>
    </li>
    <li class="post-sort" data-endpoint="top_rated">
      <a href="#">
        Top Rated
      </a>
    </li>
    <!-- <li class="non-link">
        Genres
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="fiction" value="">
        Fiction
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="fantasy" value="">
        Fantasy
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="thriller" value="">
        Thriller
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="romance" value="">
        Romance
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="crime" value="">
        Crime
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="horror" value="">
        Horror
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="science-fiction" value="">
        Science Fiction
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="historical-fiction" value="">
        Historical Fiction
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="poetry" value="">
        Poetry
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="humor" value="">
        Humor
    </li>
    <li class="genre post-sort">
      <input type="checkbox" id="non-fiction" value="checked">
        Non-Fiction
    </li> -->
  </ul>
</div>
