<div class="post-preview-container read-full-post">
  <h3 class="post-preview-title">
    <%%= post.title ? post.title : "Untitled" %>
  </h3>
  <div class="post-created-at">
    <%%= post.created_at_in_words ? post.created_at_in_words + " ago" : "" %>
  </div>
  <div class="post-preview-author-genre">
    <%%= post.genre ? post.genre.toLowerCase() : "Fiction"  %> by <%%= post.username ? post.username : "anonymous" %>
  </div>
  <p class="post-preview-snippet">
    <%%= post.message ? post.message.substring(0,250) + "<br><br> Read more..." : "Click for more..." %>
  </p>
  <input type="hidden" name="post[id]" id="post-preview-id" value="<%%= post.id ? post.id : 0 %>">
</div>
