<div class="row">
  <div class="col-xs-12">

  </div>
</div>

<div class="row">
  <div class="col-xs-2">
    <div class="post-pic-box text-center">
    </div>

  </div>
  <div class="col-xs-8 text-left">
    <div data-no-turbolink  class="prompt-label text-left" id="title-holder">
      <a href="/users/<%%= user_id || "undefined"%>/posts/<%%= id || "undefined"%>"><%%=title || "Untitled" %></a>
      <div id="post-avg-rating"></div>

      </div>
      <div class="post-info">
      <span class="post-word-count">
      <%%= prompt_type || "" %> | <%%= word_count || "" %> words

    </span>
      <div id="time-completed" class="prompt-label post-word-count"></div>
      <div id="post-prompt" class="prompt-label"></div>
    </div>
  </div>
  <div class="col-xs-2 prompt-label">
    <div class="icon-holder">
      <div class="genre-icon"></div>
      <strong> <%%= genre %> </strong>
      <br>
      <strong id="created-at">Posted  </strong>
    </div>


  </div>
</div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-2 text-center prompt-label">
      <br>
      <div data-no-turbolink id="post-author-stats">


    <div class="post-add-friend">

    </div>
    </div>
    </div>

    <div class="col-xs-2 col-xs-offset-2 text-center prompt-label">
      <span id="average-rating">    </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">

    </div>
  </div>

  <div class-"row">
    <div class="col-xs-6"></div>
  </div>

  <div class="row">
    <!-- <div class="col-xs-12"><div class="vertical-space"></div></div> -->
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-left">
      <!-- <div class="post-prompt-type"></div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-xs-4">

    </div>
    <div class="col-xs-4">
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="post-box prompt-label">
        <br>
        <p class="posted-message">
          <%%= message %>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <!-- <div class="vertical-space"></div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-1">

    </div>
    <div class="col-xs-6">
    </div>
    <div class="col-xs-2">
    </div>

    <div class="col-xs-3 text-right">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <!-- <div class="vertical-space"></div> -->
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10">

    </div>
    <div class="col-xs-2">
      <div class="remove-post-box">

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3">

    </div>
    <div class="col-xs-6">
      <div class="horizontal-line">


      </div>
    </div>
    <div class="col-xs-3">

    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Rate the Story</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-left">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="rating-container">
        Characters <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="characters" id="rating-characters-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="characters" id="rating-characters-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="characters" id="rating-characters-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="characters" id="rating-characters-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="characters" id="rating-characters-5"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rating-container">
        Setting <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="setting" id="rating-setting-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="setting" id="rating-setting-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="setting" id="rating-setting-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="setting" id="rating-setting-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="setting" id="rating-setting-5"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rating-container">
        Plot <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="plot" id="rating-plot-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="plot" id="rating-plot-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="plot" id="rating-plot-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="plot" id="rating-plot-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="plot" id="rating-plot-5"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <br>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="rating-container">
        Story Structure <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="structure" id="rating-structure-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="structure" id="rating-structure-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="structure" id="rating-structure-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="structure" id="rating-structure-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="structure" id="rating-structure-5"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rating-container">
        Dialogue (if applicable) <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="dialogue" id="rating-dialogue-5"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rating-container">
        Style <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="style" id="rating-style-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="style" id="rating-style-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="style" id="rating-style-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="style" id="rating-style-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="style" id="rating-style-5"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
    </div>
  </div>
<!--
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-sm-offset-3">




    </div>

    <div class="col-xs-12 col-sm-3">


      <div class="rating-container">
        Grammar <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="grammar" id="rating-grammar-5"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
      <div class="rating-container">
        Theme <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="theme" id="rating-theme-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="theme" id="rating-theme-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="theme" id="rating-theme-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="theme" id="rating-theme-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="theme" id="rating-theme-5"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col-xs-12 text-center">
      <br>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="rating-container">
        Overall <br>
        <div class="new-rating" data-value="1" data-post="<%%= id %>" data-skill="overall" id="rating-overall-1"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="2" data-post="<%%= id %>" data-skill="overall" id="rating-overall-2"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="3" data-post="<%%= id %>" data-skill="overall" id="rating-overall-3"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="4" data-post="<%%= id %>" data-skill="overall" id="rating-overall-4"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="5" data-post="<%%= id %>" data-skill="overall" id="rating-overall-5"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="6" data-post="<%%= id %>" data-skill="overall" id="rating-overall-6"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="7" data-post="<%%= id %>" data-skill="overall" id="rating-overall-7"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="8" data-post="<%%= id %>" data-skill="overall" id="rating-overall-8"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="9" data-post="<%%= id %>" data-skill="overall" id="rating-overall-9"><i class="fa fa-heart-o rating-heart"></i></div>
        <div class="new-rating" data-value="10" data-post="<%%= id %>" data-skill="overall" id="rating-overall-10"><i class="fa fa-heart-o rating-heart"></i></div>
      </div>
    </div>
  </div>
<!--
      <span class="prompt-label">Rate this Post</span>

      <div class="rating">

        <div class="rating-button" data-post="<%%= id %>" id="star5" value="5" />
          <label for="star5" class="rating-button" id="label-star5" data-post="<%%= id %>"
          title="Shakespeare" data-value="5">5 stars</label>
        <div class="rating-button" data-post="<%%= id %>" id="star4" value="4" /><label for="star4" class="rating-button" id="label-star4" data-post="<%%= id %>"
          title="Wordsmith" data-value="4">4 stars</label>
        <div class="rating-button" data-post="<%%= id %>" id="star3" value="3" /><label for="star3" class="rating-button" id="label-star3" data-post="<%%= id %>"
          title="Scribe" data-value="3">3 stars</label>
        <div class="rating-button" data-post="<%%= id %>" id="star2" value="2" /><label for="star2" class="rating-button" id="label-star2" data-post="<%%= id %>"
          title="Novice" data-value="2">2 stars</label>
        <div class="rating-button" data-post="<%%= id %>" id="star1" value="1" /><label for="star1" class="rating-button" id="label-star1" data-post="<%%= id %>"
          title="Beginner" data-value="1">1 star</label>
        <div type="hidden" id="post-id" value="<%%= id %>"></input>
      </div></div></div></div></div></div>
      </div> -->


  <div class="row">
    <div class="col-xs-12 text-right">
      <div class="new-critique-form">

        <!-- Feedback Link Rendered Here  -->
        <!-- <h5 class="text-left prompt-label show-feedback">Give Feedback</h5> -->
      </div>
    </div>
  </div>



    <!-- Confirm Post Delete Modal -->
    <div class="modal" id="deletePost" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
          </div>
          <div class="modal-body">
            Do you wish to delete this post?
            <br>
            <br>
            <%%= title %>
            <br>
            <br>
            <%%= message %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary delete-post">Yes</button>
          </div>
        </div>
      </div>
    </div>
