<!-- <h1 class="post-list-header">Read</h1> -->

<!-- <div class="row"> -->

  <div class="genre-links">


  <!-- <div class="write-nav">Write</div> -->
  <!-- <div class="sidenav-row write-nav">
    <a class="list-group-item"><i class="fa fa-pencil fa-fw"></i>&nbsp; Write</a>
  </div> -->





  <!-- <div class="sort sidenav-row list-group-item" data-url="user">
    <div class="sort-text">Your Posts</div>
  </div> -->

  <!-- <div class="sort sidenav-row list-group-item" data-url="friends">
    <div class="sort-text">Friends Post</div>
  </div> -->


  <div class="genres">
    <div class="sort sidenav-row list-group-item home-page" data-url="main">
      <div class="sort-text"><i class="fa fa-dashboard"></i>Main Feed</div>
    </div>
  <div class="sort sidenav-row list-group-item" data-url="all">
    <img src="http://i.imgur.com/hR2f8aM.png" class="sort-image"></img>
    <div class="sort-text">All</div>
  </div>
  <div class="sort sidenav-row list-group-item" data-url="Fiction">
    <img src="http://i.imgur.com/BI8PegK.png" class="sort-image"></img>
     <div class="sort-text">Fiction</div>
   </div>
  <div class="sort sidenav-row list-group-item" data-url="Fantasy">
    <img src="http://i.imgur.com/ffCviDQ.png" class="sort-image"></img>
     <div class="sort-text">Fantasy</div>
   </div>
  <div class="sort sidenav-row list-group-item" data-url="Horror">
    <img src="http://i.imgur.com/iJvfYS1.png" class="sort-image"></img>
     <div class="sort-text">Horror</div>
   </div>
  <div class="sort sidenav-row list-group-item" data-url="Thriller">
    <img src="http://i.imgur.com/ojVa8BI.png" class="sort-image"></img>
     <div class="sort-text">Thriller</div>
   </div>
  <div class="sort sidenav-row list-group-item" data-url="Historical-Fiction">
    <img src="http://i.imgur.com/lHyRvye.png" class="sort-image"></img>
    <div class="sort-text">Historical</div>
  </div>
  <div class="sort sidenav-row list-group-item" data-url="Crime">
    <img src="http://i.imgur.com/8w44WhP.png" class="sort-image"></img>
    <div class="sort-text">Crime</div>
  </div>
  <div class="sort sidenav-row list-group-item" data-url="Romance">
    <img src="http://i.imgur.com/zz5QHWN.png" class="sort-image"></img>
     <div class="sort-text">Romance</div>
   </div>

  <div class="sort sidenav-row list-group-item" data-url="Science-Fiction">
    <img src="http://i.imgur.com/K1kGfUE.png" class="sort-image"></img>
     <div class="sort-text">SciFi</div>
   </div>
  <div class="sort sidenav-row list-group-item" data-url="Poetry">
    <img src="http://i.imgur.com/F71bhWM.png" class="sort-image"></img>
    <div class="sort-text">Poetry</div>
  </div>
  <div class="sort sidenav-row list-group-item" data-url="Humor">
    <img src="http://i.imgur.com/Iw9CxT2.png" class="sort-image"></img>
    <div class="sort-text">Humor</div>
  </div>
  <div class="sort sidenav-row list-group-item" data-url="Non-Fiction">
    <img src="http://i.imgur.com/tH5XICv.png" class="sort-image"></img>
    <div class="sort-text">Non-Fiction</div>
  </div>
</div>


</div>
