<div class="add-a-prompt">
    <div class="row text-center">

      <div class="col-xs-12">
        <h1 class="brand-font">Prompt Page</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="form-group">
          <label for="new-prompt" class="label-control">Enter a new writing premise</label>
          <textarea type="text" id="new-prompt" name="new-prompt" class="form-control" placeholder="i.e. a team of scientists have successfully teleported an apple. It reappears with a bite taken out of it."></textarea>
        </div>
    </div>

    <div class="col-xs<%  %>12 col-sm-8 col-sm-offset-2 text-right">
      <a class="add-prompt">Add Prompt</a>
    </div>

      </div>

  </div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1dreaa">
    <div id="prompts-list"></div>
  </div>
</div>
