  <%% for ( key in rating ) { %>
    <div class="ratings">
    <%% if ( rating.hasOwnProperty( key ) ) { %>
      <div class="rating-container" id="rating-container-<%%= key %>">
      <h5 class="rating-header"><%%= key.toUpperCase()  %></h5>
        <%% for ( var i = 1; i < rating[ key ].max_value + 1; i++ ) { %>
          <div class="rating new-rating"
               data-value="<%%= i %>"
               data-skill="<%%= key %>"
               id="rating-<%%= key %>-<%%= i %>">

            <i class="fa fa-heart-o rating-heart"></i>
          </div>
        <%% } %>
      </div>
    <%% } %>
  </div>
  <%% } %>
