<div class="row">
  <div class="col-xs-12">
    <textarea id="response-form" class="form-control"></textarea>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div id="challenge-required-word-count">Word Count: 0</div>
  </div>
  <div class="col-xs-6 text-right">
    <a class="respond btn btn-raised btn-default">RESPOND</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div id="challenge-response-error"></div>
  </div>
</div>
