<div class="row">
  <div class="col-xs-12">
    <h4 class="text-center">Resources</h4>
  </div>
  <div class="col-xs-8 col-xs-offset-2 friend-nav">
    <div class="btn-group btn-group-justified btn-group-raised">
      <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="all">All</a>
      <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Article">Articles</a>
      <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Website">Websites</a>
      <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Book">Books</a>
      <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Video">Video</a>
      <a href="javascript:void(0)" class="btn btn-warning resource-sort" data-value="Other">Other</a>
    </div>
  </div>
  <div class="col-xs-2">
    <a href="javascript:void(0)" class="btn btn-success btn-fab show-resource-form"><i class="fa fa-plus"></i></a>
  </div>
</div>

<div id="resource-form-holder">
</div>


  <!-- Resources List -->


  <div class="row">
    <div class="col-xs-12">
      <div id="resource-list"></div>
    </div>
  </div>
