<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-8">
        <%%= resource_type || "Type Undefined"  %>
      </div>
      <div class="col-xs-4 text-right">
        <div id="resource-user-info"></div>
        <div id="resource-controls"></div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2 text-center">
        <i class="fa fa-caret-up fa-5x resource-up-vote vote"></i>
        <div id="resource-votes"></div>
        <i class="fa fa-caret-down fa-5x resource-up-vote vote"></i>
      </div>
      <div class="col-xs-8 text-left">

        <div class="row">
          <div class="col-xs-8">
            <h3><%%= title %></h3>
          </div>
          <div class="col-xs-1"></div>
          <div class="col-xs-1"></div>
        </div>

        <div class="row">
          <div class="col-xs-7">
            <h5><%%= description %></h5>
          </div>
          <div class="col-xs-2"></div>
        </div>

        <div class="row">
          <div class="col-xs-7">
            <h5>
              <a href="h<%%= link %>"><i class="fa fa-link"></i>&nbsp;<%%= link %></a>
            </h5>
          </div>
          <div class="col-xs-2"></div>
        </div>

        <div class="row">
          <div class="col-xs-7">
            <h5>Tags:
              <%%= tags %></h5>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
