<div id="writing-navbar">
  <%= render 'cancel_post_modal' %>

  <div class="row">
    <div class="col-xs-3 nav-columm">
      <h1 class="home-page" data-toggle="modal" data-target="#cancel-this-post">
        writeaway.
      </h1>
    </div>
    <div class="col-xs-6 text-center">
      <div id="prompt-instruction">

        <!-- Writing Prompt Rendered Here -->

      </div>
      <div id="prompt">

        <!-- Writing Prompt Rendered Here -->

      </div>
    </div>
    <div class="col-xs-2">
      <a class="cancel-post" data-toggle="modal" data-target="#cancel-this-post">
        X
        <!-- <span class="esc-cancel">esc</span> -->
      </a>
    </div>
  </div>


</div>
