<div id="writing-page" class="container-fluid">
  <%= render 'writing_navbar' %>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
      <div id="writing-page-main">
        <%= render 'prompt_form' %>
      </div>
    </div>
  </div>
</div>
