<div class="row" id="writing-navbar">
  <div class="col-xs-3 nav-columm">
    <h1 class="home-page">
      writeaway.
    </h1>
  </div>
  <div class="col-xs-6 text-center">
    <div id="prompt-instruction">

      <!-- Writing Prompt Rendered Here -->

    </div>
    <div id="prompt">

      <!-- Writing Prompt Rendered Here -->

    </div>
  </div>
  <div class="col-xs-2">
    <div class="post-error text-center">
      This is a test error message.
    </div>
  </div>
</div>
