<div class="row" id="header-row">

  <div class="col-xs-3 nav-columm">
    <h1 class="home-page brand">
      <!-- <div data-no-turbolink>
      <a href="/users/main"> -->
        <img src="http://i.imgur.com/g8Z3uqu.png"/>
      <!-- </a>
    </div> -->
    </h1>
  </div>
  <div class="col-xs-6 text-center">
    <div id="prompt-instrustion"><h1 class="brand-font">writeaway.</h1></div>
    <div id="prompt"></div>
  </div>
  <div class="col-xs-2">
    <div class="post-error text-center"></div>
  </div>

  <!-- <div class="col-sm-3">
  </div> -->
  <!-- <div class="col-sm-4 nav-column">
    <h1 class="home-page nav-item text-center">writeaway.</h1>
  </div> -->

</div>
